@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xsm{font-size: 14px;}

*{margin: 0;padding: 0;font-family: 'Poppins', sans-serif;box-sizing: border-box;}

.layoutHeight{
    height: calc(100vh - 89px);
}

.shadow-custom{
  box-shadow: 0px 4px 8px rgb(0 0 0 / 3%);
}

/* CSS */
/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
    height: 6px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the track */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #88888899; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners of the thumb */
  }
  
  /* On hover, style the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }
  

@media screen and (max-width:767px)  {
  .sidebar-collapse .aside{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    animation: cubic-bezier(0.8, 0, 1, 1) 0.9 ;
    width: 50%;
    opacity: 1;
    height: 100vh; 
    z-index: 9999999;
    transform: translateX(0);
  }
}

@media screen and (max-width:767px)  {
  .sidebar-collapse .sidebar-overlay{
    visibility: visible;
    opacity: 1;
  }
}


.boxicons-left::before{
  font-family: 'boxicons';
}

.boxicons-right::after{
  font-family: 'boxicons';
}


rdobtn-card label {
    position: relative
}

.rdobtn-card label input[type=radio] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    margin: 0
}

.rdobtn-card label input[type=radio]~span {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.rdobtn-card label input[type=radio]~span em {
    display: block;
    font-style: normal;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #d4d2d2;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px
}

.rdobtn-card label input[type=radio]~span em:before {
    content: "";
    background: #d4d2d2;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%
}

.rdobtn-card label input[type=radio]~span i {
    color: #000;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal
}

.rdobtn-card label input[type=radio]:checked~span em {
    border-color:  #0074FD;
}

.rdobtn-card label input[type=radio]:checked~span em:before {
    background: #0074FD
}


.slect-allchk label {
  margin: 0;
  position: relative;
  text-align: left;
  display: block;
  cursor: pointer
}

.slect-allchk label input[type=checkbox] {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0
}

.slect-allchk label input[type=checkbox]~span {
  position: relative;
  margin: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #a5a5a5;
  display: block;
  border-radius: 4px
}

.slect-allchk label input[type=checkbox]~span:before {
  content: "";
  position: absolute;
  inset: 1px 0 0;
  height: 10px;
  width: 5px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: rotate(45deg);
  margin: 0 auto
}

.slect-allchk label input[type=checkbox]:checked~span {
  border-color: rgba(213,64,74,0.7)
}

.slect-allchk label input[type=checkbox]:checked~span:before {
  border-bottom-color: rgba(213,64,74,0.7);
  border-right-color: rgba(213,64,74,0.7)
}